boto3
channels
channels_redis
clx-sdk-xms==1.0.0
dj-database-url
django-admin-shell
django-annoying
django-cors-headers
django-debug-toolbar
django-dotenv==1.4.2
django-filter
django-import-export
django-jet
django-location-field
django-map-widgets
django-rest-swagger
django-sql-explorer
django-storages[google]
django-widget-tweaks
django-widget-tweaks
django==2.0
djangorestframework-gis
djangorestframework==3.7.7
drf-tracking==1.5.0
dynamic-rest
easy-thumbnails
elasticsearch
elasticsearch-dsl==6.1.0
fabric
fcm-django
git+https://github.com/assem-ch/django-autofixture.git
google-api-python-client==1.4.1
gunicorn
ipython==7.2.0
markdown
pandas
pillow
psycopg2-binary
pyfcm
PyGithub
pyminifier
pytz
qrcode==6.0
raven
rest-framework-generic-relations==1.2.1
rest-pandas==1.0.0
sentry-sdk
simplejson==3.16.0
twilio==6.22.0
Twisted[tls,http2]
unicodecsv
Werkzeug==0.14.1
whitenoise
xlsxwriter==1.1.2
awscli==1.16.76
drf-yasg
django_compressor
django-compressor
csscompressor
brotlipy
libsass
django-sass-processor
googlemaps
django-allauth