<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>CB+</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">CB Plus</h1>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'product_list' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stock_list' %}">Stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stock_reading_list' %}">Expiration</a>
          </li>
        </ul>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>